/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* Common */
body {
    background-color: #000000;
    font-family: 'Lato', sans-serif;
    color: white;
}

/* Utilities */
.flex {
    display: flex;
}

/* Layout */
.container {
    position: relative;
    overflow: auto;
    height: calc(100vh - 80px);
    width: 100%;
}

.gallery {
    margin: 5rem 5rem;
    margin-bottom: 0;
}

.col {
    width: calc(100% / 7);
    /* Debug */
    /* border: 2px solid blue; */
}

/* Webcam */
.webcam {
    position: relative;
    padding: 7px 3px;
    /* Debug */
    /* border: 2px solid blue; */
}

.webcam img {
    width: 100%;
}

/* Tags */
.tag {
    background-color: rgba(128, 128, 128, 0.6);
    padding: 5px;
    position: absolute;
    left: 3px;
    bottom: 7px;
    font-size: 0.8rem;
}

.fullscreen, .speaker-view{
    background-color: #4A4A4A;
    padding: 5px;
    border-radius: 5px;
    color: inherit;
    text-decoration: none;
    font-size: 0.8rem;
    position: absolute;
    top: 5px;
}

.fullscreen {
    right: 5px;
}

.speaker-view {
    right: 30px;
}

/* Toolbar */
.toolbar {
    background-color: #222222;
    height: 80px;
}

.tools {
    justify-content: space-between;
    align-items: center;
}

.tools a {
    color: inherit;
    text-decoration: none;
}

.icon {
    font-size: 2rem;
}

.icon-text {
    font-size: 1rem;
}

.angle {
    font-size: 0.7rem;
}

.share-icon {
    color: #4BC800;
}

.media-tools, 
.call-tools {
    list-style-type: none;
    align-items: center;
}

.media-tools a,
.call-tools a,
.end a {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.media-tools li, 
.call-tools li {
    margin: 0 10px;
}

.media-tools,
.call-tools,
.end {
    min-height: 30px;
    min-height: 20%;
    height: 80px;
}

.media-tools,
.end {
    width: 20%;
}

.end {
    justify-content: flex-end;
}

.end a {
    margin: 0 0;
    align-items: center;
    background-color: #4A4A4A;
}

.end-meeting {
    margin: auto;
    padding: 0.8rem;
    color: #FF0000;
}