/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* Common */
body {
    background-color: #000000;
    font-family: 'Lato', sans-serif;
    color: white;
}

/* Utilities */
.flex {
    display: flex;
}

/* Layout */

.container {
    overflow: auto;
    height: 100vh;
    width: 100%;
}

.gallery {
    margin: 5rem 5rem;
}

.col {
    width: calc(100% / 7);
    /* Debug */
    /* border: 2px solid blue; */
}

.webcam {
    padding: 7px 3px;
    /* Debug */
    /* border: 2px solid blue; */
}

.webcam img {
    width: 100%;
}