/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* Common */
body {
    background-color: #000000;
    font-family: 'Lato', sans-serif;
    color: white;
}

/* Utilities */
.flex {
    display: flex;
}

/* Layout */
.container {
    overflow: auto;
    height: calc(100vh - 80px);
    width: 100%;
}

.gallery {
    margin: 5rem 5rem;
    margin-bottom: 0;
}

.col {
    width: calc(100% / 7);
    /* Debug */
    /* border: 2px solid blue; */
}

/* Webcam */
.webcam {
    position: relative;
    padding: 7px 3px;
    /* Debug */
    /* border: 2px solid blue; */
}

.webcam img {
    width: 100%;
}

/* Tags */
.tag {
    background-color: rgba(128, 128, 128, 0.6);
    padding: 5px;
    position: absolute;
    left: 3px;
    bottom: 7px;
    font-size: 0.8rem;
}

/* Toolbar */
.toolbar {
    background-color: #222222;
    height: 80px;
}